<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/membership.css">
        <title>explain-membership</title>
    </head>
    <body>
        <div id="wrap">
        <header id="main-header">
            <a href="/">
                <img src="/images/logo.svg" alt="logo" class="logo">
            </a>
            <button id="nav-toggle" class="nav-toggle">
                <span class="nav-icon"></span>
                <span class="nav-icon"></span>
                <span class="nav-icon"></span>
            </button>
            <nav id="main-navigation">
                <ul class="menu">   
                    <li class="menu-item"><button onclick="window.location.href='/mandalart'" class="nav-button">My Mandalart</button></li>
                    <li class="menu-item"><button onclick="window.location.href='/share'" class="nav-button">Share</button></li>
                    <li class="menu-item"><button onclick="window.location.href='/calendar'" class="nav-button">Calendar</button></li>
                    <li class="menu-item"><button onclick="window.location.href='/profile'" class="nav-button">Profile</button></li>
                </ul>
            </nav>
        </header>
        <div class="explain-membership">
            <!--
                        <p>j00멤버십을 하면 ?!</p>
            <ul>
                <li>만다라트 색상 변경 가능 !!!!!</li>
                <li>만.꾸(만다라트 꾸미기) 가능 !!!!!!!</li>
            </ul>
            <p>단돈 2990원 !!! 지금 당장 멤버쉽에 가입하세요 !! (하단을 보세요 ㅋ)</p>
            -->
            <form id="payment-form">
                <input type="hidden" name="amount" value="2990" />
                <a href="/payment" >
                    <img src="/images/banner.png" alt="프로모션" class="banner">
                </a>
            </form>
        </div>
        </div>

        <footer>
            <p>
                <img src="/images/pc-footer.png" alt="footer-pc-logo" class="footer-pc-logo"><br/>
                <span class="dev">Developer</span>
                <span class="dev-name">강다인   김현수   송혜음   이예령   전소현   한세나</span><br/>
                <span class="copyright">Copyright 2024 SECRETJOOJOO All rights reserved.</span>
            </p>
        </footer>
        <script>
            // 모바일 네비바
            document.addEventListener('DOMContentLoaded', () => {
                const navToggle = document.getElementById('nav-toggle');
                const mainNav = document.getElementById('main-navigation');
                const mainHeader = document.getElementById('main-header');
    
                navToggle.addEventListener('click', () => {
                    mainNav.classList.toggle('active');
                    mainHeader.classList.toggle('active-header');
                });
            });
        </script>
    </body>
</html>